.footer-push {
    width: 100%;
    display: block;
    height: 105px;
}

#footer {
    width: 100%;
    background: $footer-background;
    color: $footer-font-color;
    bottom: 0;
    position: absolute;
    left: 0;
    font-size: 0.8em;

    a {
        color: $footer-font-color;
        opacity: 0.8;
    }

    a:hover {
        opacity: 1;
    }
}