.footer-push {
    width: 100%;
    display: block;
    height: 28px;
}

#footer {
    width: 100%;
    background: $footer-background;
    color: $footer-font-color;
    bottom: 0;
    position: absolute;
    left: 0;
}