@mixin full-width-padding-gutter() {
    width: 100%;
    padding: $gutter-shorthand;
    box-sizing: border-box;
}

@mixin border-radius($size) {
    -webkit-border-radius: $size;
    -moz-border-radius: $size;
    border-radius: $size;
}

@mixin user-select-none() {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}